       body {
          font-family: Monaco;
          text-align:center;
          color: #99d6ff;
       } 
        #firstPage {
           
            font-family: Monaco;
            text-align: center;
            background-color:#99d6ff;
          
          textarea {
            font-size: 16px;
            padding: 10px;
          }
          p {
            color: black;
          }
        }
